<strong>Olá, {{student}}</strong>
<p>A sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{question}} <br/>
  <strong>Resposta: </strong> {{answer}} <br/>
  </br>
</p>
